@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-1981375307.jpg?c=16x9&q=h_833,w_1480,c_fill');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}